
body{
    background-color: #e0e5e7;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    color: rgb(59, 59, 59);
}
h1{
    font-size: 32px;
    margin-bottom: 18px;
}

h2{
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}
h3{
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
h4{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
h5{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

p{
    margin: 0;
    font-size: 16px;
}

.welcome > p{
    font-weight: 900;
}

.sidebar-link p{
    font-size: 1.4rem;
    font-weight: 600;
}

.user-wrapper>a{
    text-decoration: none;
    font-weight: 600;

}

button{
    background-color: #3b82f6;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 40px;
    border: none;
    transition: all 300ms ease-in-out;
}
button:hover{
    background-color: #1d4ed8;
}
.container{
    width:100%;
    max-width: 1980px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: min-content auto;
}

.header{
    padding: 16px;
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20;
}



.sidenav{
    padding: 16px;  
    background-color: #3b82f6;
    color: white;
    grid-column: 1;
    grid-row: 1 / -1;
}
.title{
    display: flex;
    gap: 12px;
    align-items: center;
}


.dashboard-icon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    max-width: 64px;
    max-height: 64px;
    width: 32px;
    height: 32px;
    gap: 4px;
}
.dashboard-icon>*{
    background-color: white;
}
.square1{
    grid-column: 1;
    grid-row: 1 / 3;
}
.square2{
    grid-column: 1;
    grid-row: 3;
}
.square3{
    grid-column: 2;
    grid-row: 1;
}
.square4{
    grid-column: 2;
    grid-row: 2 / span 2;
}
.sidenav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}
.link-list{
    margin: 0;
    padding: 0;
}
.sidenav li{
    color: white;
    list-style-type: none;
    margin-bottom: 18px;
}


.link-wrapper{
    display: flex;
    gap:16px;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.link-wrapper>*{
    transition: all 300ms ease-in-out;
}
.link-wrapper:hover{
    &>*{
        transform: scale(1.05);
    }
}
.user-wrapper>a, .project-icons>a, .search-wrapper>a{
    transition: all 300ms ease-in-out;
}
.user-wrapper>a:hover, button:hover, .project-icons>a:hover, .search-wrapper>a:hover{
    transform: scale(1.05);
}

.projects{
    padding: 32px 16px;
    grid-column: 2;
    grid-row: 2;
}
.additional-content{
    padding: 32px 16px;
    grid-column: 3;
    grid-row: 2;
}

.userpic_small, .userpic_large{
    border-radius: 50%;
    cursor: pointer;
}

.userpic_small{
    width: 32px;
    height: auto;
}

.userpic_large{
    width: 56px;
    height: auto;
}


.user-wrapper{
    grid-row: 1;
    grid-column: 5;
    display: flex;
    width: max-content;
    justify-content:flex-end;
    align-items: center;
    gap: 20px;
}

.search-wrapper{
    grid-column: 1 / span 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    
}

.welcome{
    grid-row: 2;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns:  repeat(2, max-content);
    grid-template-rows:  repeat(2, max-content);
    gap: 2px 20px;
    
}

.control-buttons{
    grid-row: 2;
    grid-column: 4 / span 2;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}



input[type="search"]{
    display: block;
    width: 100%;
    background-color: #e0e5e7;
    border-radius: 50px;
    padding: 8px 14px;
    border: none;

}


input:focus[type="search"]{
    border
    border: 5px solid rgb(212, 138, 26)!important;
}


.welcome>img{
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
}



.projects-wrapper{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
    padding: 20px 0;
}

.projects-item{
    background-color: white;
    padding: 24px 16px;
    border-radius: 12px;
    border-left: 12px solid #eab308;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content auto 1fr;
}

.projects-item>*:first-child{
    grid-column: 1 / -1;
    grid-row: 1;
}

.projects-item>*:nth-child(2){
    grid-column: 1 / -1;
    grid-row: 2;
    align-self: flex-start;
}

.projects-item>*:last-child{
    grid-column: 2;
    grid-row: 3;
    align-self: flex-end;
    justify-self: end;
}

.project-icons{
    display:flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.announcements-wrapper, .trending-wrapper{
    background-color: white;
    margin: 20px 0 32px;
    padding: 24px 16px;
    border-radius: 12px;
}
.announcements-item{
    border-bottom: 1px solid rgb(186, 186, 186);
    padding: 10px;
}
.announcements-item:last-child{
    border-bottom: none;
}

.announcements-item>p{
    font-size: 14px;
}

.trending-item{
    display: grid;
    grid-template-columns:  repeat(2, max-content);
    grid-template-rows:  repeat(2, max-content);
    gap: 4px 20px;
    padding: 12px 0;
}
.trending-item>img{
    grid-column: 1;
    grid-row: 1 / 3;
}

.username{
    font-weight: 600;
}

.announcements-wrapper, .trending-wrapper, .projects-item, .header{
    box-shadow: 4px 4px 15px rgb(177, 177, 177);
}
